:root {
    --yellow: #fbc324;
    --white: #faf0e6;
}

#app {
    height: 100vh;
}

#nav-side {
    background: var(--yellow);
    min-width: 10vw;
}

#matches {
    position: absolute;
}

.entry:hover {
    /* make it pop up */
    transform: scale(1.05);
    transition: 0.2s;
}