@font-face {
    font-family: Helvetica Rounded;
    src: urL(images/HelveticaRoundedLTStd-Bd.otf);
}

:root {
    --yellow: #fbc324;
    --white: #faf0e6;
}

body {
    font-family: 'Helvetica Rounded', sans-serif;
}

#app {
    height: 100vh;
}

#nav-side {
    background: var(--yellow);
    min-width: 10vw;
}

#matches {
    position: absolute;
    z-index: 10;
}

.info-card {
    position: absolute;
}

.entry:hover {
    /* make it pop up */
    transform: scale(1.01);
    transition: 0.2s;
}