@import url('https://fonts.googleapis.com/css2?family=Helvetica+Rounded&display=swap');

:root {
    --yellow: #fbc324;
    --white: #faf0e6;
}

body {
    font-family: 'Helvetica Rounded', Helvetica, Arial, sans-serif;
}

#app {
    height: 100vh;
}

#nav-side {
    background: var(--yellow);
    min-width: 10vw;
}

#matches {
    position: absolute;
}

.entry:hover {
    /* make it pop up */
    transform: scale(1.01);
    transition: 0.2s;
}